{% extends 'base.html' %} {% block title %}Home{% endblock %} 
{% block content %}
<div class="row">
  <div class="col-sm-6 mb-3 mb-sm-0">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Upload Phase-wise Marks</h5>
        <p class="card-text">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Culpa, cumque!
        </p>
        <a href="{% url 'upload_marks' %}" class="btn btn-primary">Upload</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">View Marks</h5>
        <p class="card-text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae, vel.
        </p>
        <a href="{% url 'view_marks' %}" class="btn btn-primary">View</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
